.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ccc;
}

.background-green {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #1ea884;
}

.main-container {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0, 2px, 5px rgba(0, 0, 0, 0.5);
}

.back-color {
  background: rgb(236, 233, 233);
}

.online-status {
  background: #1ea884;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray-bg {
  background-color: rgb(246, 232, 232);
}
